{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<div class="property">
    <img src="https://static3.mansionglobal.com/production/media/listing_images/7caacb3dc8df3d2a28daa2e98c85c518/xlarge_2fd0eca03446d30908ce117d9e5fa2.jpg" alt="Picture of {{ property.title }}">
    <div class="property-details">
        <h3>{{ property.title }}</h3>
        <div class="tags">
            <p class="price bg-info">{{ property.price }}</p>
            <p class="type bg-warning">{{ property.property_type }}</p>
        </div>
        <p class="description">{{ property.description }}</p>
        
        <div class="rooms">
            <div class="bedrooms">
                <i class="material-icons">hotel</i><p>{{ property.num_rooms }} Bedrooms</p>
            </div>
            <div class="bathrooms">
                <i class="material-icons">hot_tub</i><p>{{ property.num_bathrooms }} Bathrooms</p>
            </div>
        </div>

        <div class="location">
            <i class="material-icons">location_on</i><p>{{ property.location }}</p>
        </div>
        <button class="bg-primary text-light">Email Realtor</button>
    </div>
    </div>
</div>
{% endblock %}